@charset "UTF-8";

/* 回答はここに書いてね */
.q10_fukidasi{
  position: relative;
  padding: 20px;
  margin: 0 auto ;
  width: 500px;
  border: solid 5px #222;
  border-radius: 30px;
}
.q10_fukidasi:after,.q10_fukidasi:before{
  content: "";
  position: absolute;
  border:20px solid transparent;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
}
.q10_fukidasi:before{
  border-top-color: #222;
  bottom: -45px;
  left: 30px;
}
.q10_fukidasi:after{
  border-top-color: #fff;
  bottom:-38px;
  left:30px;
}


/* 回答はここに書いてね */
