@charset "UTF-8";

/* 回答はここに書いてね */
.q3__contents{
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
.q3__contents td{
  border: solid #dedede 1px;
  padding: 10px;
  font-size: 16px;
  line-height: 22px;
}
.q3__contents th{
  border: solid #dedede 1px;
  background-color: #2244aa;
  padding: 10px;
  font-size: 18px;
  line-height: 26px;
  color: white;
}
.q3__contents1 td:first-child{
  background-color: #2244aa;
  padding: 10px;
  font-size: 18px;
  line-height: 26px;
  color: white;
}
.q3__contents > tbody > tr:last-child {
  border-top: 2px dashed #000;
}
.tq3__contents tr:nth-child(even){
  background-color: #ecf1f2
}
